/* ------------------------------------------------------------------- MIXINS */
/* ------------------------------------------------------------------- MIXINS */
.accented_link {
  color: #abcdef;
}
.accented_link:hover {
  color: #333333;
}
.clear {
  clear: both;
  content: "";
}
/* ------------------------------------------------- FONTS FOR FUN AND PROFIT */
@font-face {
  font-family: 'Socialico';
  src: url('./assets/fonts/socialico-webfont.eot');
  src: url('./assets/fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/socialico-webfont.woff') format('woff'), url('./assets/fonts/socialico-webfont.ttf') format('truetype'), url('./assets/fonts/socialico-webfont.svg#socialicoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ----------------------------------------------------- RESET, GLOBALS, ETC. */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
}
a,
a:visited {
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
::selection {
  background: #abcdef;
  color: #FFF;
}
img,
a img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+ */

  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}
img:hover,
a:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1;
}
.list {
  padding: 0;
  list-style: none;
}
.list li {
  display: inline-block;
  background: #333333;
  color: #FFF;
  font-size: 0.7em;
  padding: 4px 8px;
  margin: 0 8px 10px 0;
}
.list a {
  color: #FFF !important;
}
.list a:hover {
  text-decoration: none;
}
/* ---------------------------------------------------------- BASIC STRUCTURE */
#top {
  background: #abcdef;
  height: 10px;
}
#wrapper {
  max-width: 960px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
/* ------------------------------------------------------------------- HEADER */
#header {
  margin: 5% 0 3%;
  overflow: auto;
}
#title {
  float: left;
}
#title h1 a,
#title p a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.4em;
}
#title p {
  margin: 0;
  padding: 0;
}
#title p a {
  color: #abcdef;
}
#title p a:hover {
  color: #333333;
}
#navigation {
  float: right;
  text-align: right;
  width: 60%;
  margin-top: 3%;
}
#navigation a {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 100;
  padding: 4px 12px 6px;
  margin: 0 4px;
}
#navigation a:hover,
#navigation a.current {
  background: #333333;
  color: #FFF;
}
#navigation a:last-child {
  margin-right: 0;
}
/* --------------------------------------------------------------------- MAIN */
#main {
  clear: both;
  border-top: 1px solid #333333;
  padding-bottom: 64px;
}
#main > div {
  display: none;
  overflow: auto;
  margin: 2% 0;
}
#main > div h2 {
  color: #abcdef;
  text-transform: uppercase;
  font-weight: 300;
}
#main > div a {
  color: #abcdef;
}
#main > div a:hover {
  color: #333333;
}
/* --------------------------------------------------------------------- HOME */
#home_section {
  padding: 5%;
  background: #333333;
  color: #FFF;
}
#headline {
  color: #FFF !important;
  font-weight: 900 !important;
  font-size: 3.6em;
}
#subtitle {
  font-size: 2em;
}
#subtitle strong {
  font-weight: 900;
}
/* -------------------------------------------------------------------- ABOUT */
#about_img {
  float: right;
  width: 48%;
}
#about_img img {
  width: 100%;
  margin-top: 24px;
}
#about_main {
  float: left;
  width: 48%;
}
#about a:hover {
  cursor: crosshair;
}
/* ------------------------------------------------------------------- RESUME */
#resume_section {
  overflow: auto;
}
#resume_section h3 {
  margin: 20px 0px 0px;
  font-size: 0.9em;
}
#resume_section h4 {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
}
#resume_section h5 {
  margin: 3px 0px 0px;
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 300;
}
#resume_section p {
  margin: 10px 0 30px;
  font-size: 0.9em;
}
#resume_section p strong {
  color: #abcdef;
  font-weight: 400;
}
.download {
  margin: 30px 0 20px;
}
.download a {
  padding: 10px;
  background: #fdecba;
  color: #FFF !important;
}
.download a:hover {
  background: #333333;
}
#resume_first {
  float: left;
  width: 45%;
}
#resume_second {
  float: right;
  width: 45%;
}
.courses {
  display: none;
  background: #abcdef;
  color: #FFF;
  position: absolute;
  padding: 0 16px;
  font-size: 14px;
}
.courses ul {
  padding: 0;
  list-style: none;
}
/* --------------------------------------------------------------------- WORK */
#projects {
  overflow: hidden;
  margin-top: 5%;
}
#projects a {
  display: inline-block;
  width: 30%;
  margin-right: 4%;
  margin-bottom: 4%;
  position: relative;
  height: 170px;
  overflow: hidden;
}
#projects a:nth-child(3n) {
  margin-right: 0%;
}
#projects img {
  width: 100%;
}
#projects .caption {
  opacity: 0;
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#projects .caption h3 {
  margin: 6px;
  font-weight: normal;
  font-size: 13px;
}
#projects a:hover .caption {
  opacity: 1;
  bottom: -1px;
}
/* ------------------------------------------------------------------ CONTACT */
#contact_side {
  float: left;
  width: 30%;
}
#contact_main {
  float: right;
  width: 60%;
}
#contact_side > a {
  display: inline-block;
  position: relative;
  margin: 2% 0;
  font-family: "Socialico";
  font-size: 4em;
  color: #333333 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#contact_side > a:hover {
  display: inline-block;
  position: relative;
  top: -12px;
}
#contact_form {
  overflow: auto;
}
#contact_form form,
#contact_form fieldset {
  border: 0;
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
}
#contact_form label {
  float: left;
  width: 80px;
  clear: both;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 6px;
}
#contact_form input[type="text"],
#contact_form input[type="email"],
#contact_form textarea {
  display: inline-block;
  float: left;
  border: 1px solid #aaaaaa;
  outline: 0;
  margin-bottom: 2%;
  padding: 6px;
  color: #aaaaaa;
}
#contact_form input[type="text"],
#contact_form input[type="email"] {
  width: 200px;
}
#contact_form textarea {
  width: 300px;
}
#contact_form input[type="submit"] {
  clear: both;
  overflow: auto;
  display: inline-block;
  border: 0;
  outline: 0;
  padding: 6px;
  margin: 10px 10px 10px 0;
  background: #fdecba;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 11px;
}
#contact_form input[type="submit"]:hover,
#contact_form input[type="submit"]:active,
#contact_form input[type="submit"]:focus {
  background: #333333;
  color: #FFF;
  cursor: pointer;
  border: 0;
  outline: 0;
}
#contact_form input[type="submit"][disabled] {
  background: #333333;
}
#contact_form input[type="submit"][disabled]:hover {
  cursor: default;
}
#contact_form input:focus,
#contact_form textarea:focus {
  border: 1px solid #333333;
  color: #333333;
}
#contact_form #name[disabled],
#contact_form #email[disabled],
#contact_form textarea[disabled] {
  border: 1px solid #dddddd;
  color: #dddddd;
}
#contact_form .error {
  float: left;
  clear: none;
  color: #D00;
  width: auto;
}
#contact_form #response {
  display: inline-block;
  background: #abcdef;
  color: #FFF;
  padding: 6px;
  font-size: 11px;
  font-weight: bold;
  /* browsers are so janky */

  padding-bottom: 7px;
  margin-top: 2px;
}
#contact_form #response.broken {
  background: #666666;
}
/* ------------------------------------------------------------------- FOOTER */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  clear: both;
  margin-bottom: 24px;
  text-align: center;
  font-size: 0.8em;
}
#footer a {
  color: #abcdef;
}
#footer a:hover {
  color: #333333;
}
/* ------------------------------------------------------------ MEDIA QUERIES */
@media (max-width: 960px) {
  #projects a {
    width: 46%;
    margin-right: 7%;
    margin-bottom: 40px;
  }
  #projects a:nth-child(3n) {
    margin-right: 7%;
  }
  #projects a:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  #main {
    padding: 5%;
  }
  #main > div > div {
    width: 100%;
  }
  #title {
    width: 100%;
    text-align: center;
  }
  #navigation {
    width: 100%;
    text-align: center;
  }
  #headline {
    font-size: 3em;
  }
  #subtitle {
    font-size: 1.8em;
  }
  #projects a {
    width: 100%;
  }
}
